   <!-- FOOTER -->
    {% load static %}
   <div class="top-banner" style="padding-top: 30px; background: #161616;">
    <div class="container" style="position: relative;">
        <div class="row ">
            <div class="col-md-3" style="margin-top: 30px;">
                <img src="{% static 'image/logo.webp' %}" alt="logo footer" style="width: 150px;">
            </div>
            <div class="col-md-3" style="margin-top: 30px;"> 
                <h5 style="color: white; font-weight: 800;">Elite Drop</h5>
                <p>Our goal is to provide easy access to trending dropshipping products using AI-selected recommendations from various platforms.
                    Empowering our subscribers with the best products to maximize their business success</p>
            </div>
            <div class="col-md-3" style="margin-top: 30px;">
                <h5 style="color: white; font-weight: 800;">Why Choose Us?</h5>
                <p>✅ AI-Driven Selections</p>

                <p>✅ Weekly Updates</p>   
                    
                <p>✅ Expert Insights</p>    
                    
                <p>✅ Diverse Product Range</p>    
            </div>
            <div class="col-md-3" style="margin-top: 30px;">
                <h5 style="color: white; font-weight: 800;">Quick Links</h5>
                <p><a href="{% url 'faqs' %}" style="color: white;">FAQs</a></p>
                <p><a href="{% url 'privacy_policy' %}" style="color: white;">Privacy Policy</a></p>
                <p><a href="{% url 'terms_and_conditions' %}" style="color: white;">Terms & Services</a></p>
            </div>
        </div>
    </div>
</div>
