<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'image/fav.jpg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
       <!-- Required meta tags -->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       
       <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet">
   
       <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
   
       <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
       
       <!-- Style -->
       <link rel="stylesheet" href="{% static 'css/style.css' %}">

       <!--<title>Responsive Card Slider</title>-->

       <!-- Swiper CSS -->
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.css">

       <!-- CSS -->
        <style>
            .new input{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
        </style>
</head>
<body style="height: 100vh;">
  <header role="banner" style="background-image: linear-gradient(to bottom, #255abc, #0f3887);">
    <nav>
      <div class="container">
        <div class="row">
          <div class="col-sm-4"></div>
            
            <div class="col-sm-4" style="display: flex; justify-content: center; padding-top: 10px;">
                <a  href="{% url 'home' %}" >
                    <img src="{% static 'image/logo.webp' %}" alt="logo" style="width: 120px;">
                </a>
            </div>
            <div class="col-sm-4" style="display: flex; justify-content: end;">
               
                   
            </div>
        </div>
      </div>
    </nav>
</header>



    <div class="container" style="padding-top: 140px; height: 100vh;">
      <div class="row">
        <div class="col-sm-3"></div>
          <div class="col-sm-6 reg_form_div" >
              <div class="row">
                  <div class="col-sm-12 " style="display: flex; justify-content: center; margin-bottom: 30px ;" >
                      <img src="{% static 'image/logo.webp' %}" alt="logo" style="width: 200px;">
                  </div>
                  <span style="text-align: center; color: black;">Enter new password , retype the password and update</span>
              </div>
              <div class="row reg_form mb-4">
                  <div class="col-sm-12 form-col form_inputs">
                    <form action="" method="POST">
                      {% csrf_token %}
                      <div class="new">
                          {{ form.as_p }}
                      </div>
                      <div style="display: flex; justify-content: center;">
                          <input class="btn button1" type="submit" name="send_email" id="" value="Update Password">
                      </div>
                    </form>
                  </div>
              </div>
          </div>
        <div class="col-sm-3"></div>
    
      </div>
    </div>

<script src="{% static 'js/main.js' %}"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    // Get the current date
    var currentDate = new Date();
    var formattedDate = currentDate.toISOString().split('T')[0];  // Format as YYYY-MM-DD

    // Set the value of the hidden input field
    document.querySelector('input[name="date"]').value = formattedDate;
});
</script>
</body>
</html>