<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'image/fav.jpg' %}">
    <meta name="description" content="Elite Drops -Privacy Policy">
    <title>Elite Drops -Privacy Policy</title>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        
        <!-- Style -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!--<title>Responsive Card Slider</title>-->

        <!-- Swiper CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.css">

        <!-- CSS -->
    <style>
        .privacy {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            line-height: 1.6;
            color: #333;
            background-color: #f4f4f4;
        }
        .containerp {
            width: 80%;
            margin: auto;
            overflow: hidden;
            padding: 2rem 0;
        }
        h1, h5, h3 {
            color: #333;
        }
        .containerp p {
            margin: 1rem 0;
            color: black;
        }
        .contentp {
            background: #fff;
            padding: 2rem;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
    {% include 'web_header.html' %}
    <section class="privacy" style="padding-top: 180px;"> 
        <div class="containerp">
            <div class="contentp">
                <h1>Privacy Policy</h1>
                <h2>Introduction</h2>
                <p>Welcome to Elite Drop. We are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines our practices regarding the collection, use, and protection of your data when you use our website and services.</p>
    
                <h5>Data Collection</h5>
                <p>We collect personal information from you when you register on our site, subscribe to our newsletter, respond to a survey, fill out a form, or use our services. The information collected may include your name, email address, phone number, and payment details. Additionally, we may collect non-personal identification information about you whenever you interact with our website.</p>
    
                <h5>Use of Data</h5>
                <p>The data we collect is used to:</p>
                <ul>
                    <li>Provide and improve our services</li>
                    <li>Personalize your experience</li>
                    <li>Process transactions</li>
                    <li>Send periodic emails (such as newsletters and updates)</li>
                    <li>Respond to customer service requests and support needs</li>
                    <li>Conduct market research to enhance our offerings</li>
                </ul>
    
                <h5>Data Protection</h5>
                <p>Your data is stored securely and is protected against unauthorized access, alteration, disclosure, or destruction. We use advanced security measures to ensure that your personal information is kept safe.</p>
    
                <h5>Cookies</h5>
                <p>Our website uses cookies to enhance user experience. Cookies help us understand how you use our site and improve your experience. You can choose to disable cookies through your browser settings, but doing so may affect your ability to use certain features of our website.</p>
    
                <h5>Third-Party Services</h5>
                <p>We do not sell, trade, or otherwise transfer your personal information to outside parties except for trusted third parties who assist us in operating our website, conducting our business, or servicing you, as long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.</p>
    
                <h5>Marketing Communications</h5>
                <p>From time to time, we may use your personal data to send you promotional information that we believe may be of interest to you. We are committed to ensuring that your privacy is protected and will only use your data in ways that are beneficial to you. You have the right to opt-out of receiving these communications at any time.</p>
    
                <h5>Your Rights</h5>
                <p>You have the right to access, update, or delete your personal information. If you wish to exercise any of these rights, please contact us at <a href="mailto:support@elitedrop.net">support@elitedrop.net</a>.</p>
    
                <h5>Changes to This Policy</h5>
                <p>We reserve the right to update this Privacy Policy at any time. We will notify you of any changes by posting the new Privacy Policy on our website. You are advised to review this Privacy Policy periodically for any changes.</p>
    
                <h5>Contact Us</h5>
                <p>If you have any questions about this Privacy Policy or our data practices, please contact us at <a href="mailto:support@elitedrop.net">support@elitedrop.net</a>.</p>
            </div>
        </div>
    </section>

    {% include 'footer_main.html' %}

</body>
</html>
